{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% set breadcrumb__base_class = "breadcrumb" %}

{% if breadcrumb %}
  <nav aria-label="{{ "Breadcrumb"|t }}">
    {% embed "@atoms/lists/list-ordered.twig" with {
      list__base_class: breadcrumb__base_class
    } %}
      {% block list_content %}
        {% for item in breadcrumb %}
          {% embed "@atoms/lists/list-item.twig" with {
            list_item__base_class: "item",
            list_item__blockname: breadcrumb__base_class,
          } %}
            {% block list_item_content %}
              {% if loop.first %}
                <a {{ bem('link', ['home'], breadcrumb__base_class) }} href="{{ item.url }}">
                  {% include "@atoms/images/bootstrap-icon/bootstrap-icon.twig" with {
                    bootstrap_icon__name: "house-fill",
                  } %}
                  
                  {% include "@atoms/visually-hidde/visually-hidden.twig" with {
                    visually_hidden__content: item.text,
                  } %}
                </a>
              {% else %}
                {% if item.url %}
                  <a {{ bem("link", [], breadcrumb__base_class) }} href="{{ item.url }}">{{ item.text }}</a>
                {% else %}
                  {{ item.text }}
                {% endif %}
              {% endif %}
            {% endblock %}
          {% endembed %}
        {% endfor %}
      {% endblock %}
    {% endembed %}
  </nav>
{% endif %}
