{#
/**
 * Available variables:
 * - header_overlay__base_class - the base classname
 * - header_overlay__modifiers - array of modifiers to add to the base classname
 *
 * Available blocks:
 * - header_overlay_dialog - the content of the overlay dialog
 */
#}
{% set header_overlay__base_class = header_overlay__base_class|default("header-overlay") %}
{% set header_overlay__modifiers = header_overlay__modifiers|default([]) %}

<div {{ bem(header_overlay__base_class, header_overlay__modifiers) }}>

  <div {{ bem("backdrop", [], header_overlay__base_class) }}>
    <nav {{ bem("dialog", [], header_overlay__base_class) }}>
      <span {{ bem("catch-focus", ["before"], header_overlay__base_class) }} tabindex="-1"></span>

      {% include "@molecules/navigation/menu-switcher/menu-switcher.twig" %}

      {% block header_overlay_dialog %}
        {% include "@molecules/navigation/menu-main/menu-main.twig" %}

        {% include "@molecules/navigation/language-switcher/language-switcher.twig" %}
      {% endblock %}

      <span {{ bem("catch-focus", ["after"], header_overlay__base_class) }} tabindex="-1"></span>
    </nav>
  </div>
</div>
