{#
/**
 * Blocks:
 * - page_content_pre_content: content that appears before all other content in full width
 * - page_sidebar_pre_content: appears before the main page content on mobile, on desktop it appears in the sidebar
 * - page_content: the main page content
 * - page_sidebar_post_content: appears after the main page content on mobile, on desktop it appears in the sidebar
 */
#}
{% set page_content__base_class = page_content__base_class|default('page-content') %}
{% set page_content__modifiers = page_content__modifiers|default([]) %}

{% if page_sidebar %}
  {% set page_content__modifiers = page_content__modifiers|merge(['with-sidebar']) %}
{% else %}
  {% set page_content__modifiers = page_content__modifiers|merge(['full-width']) %}
{% endif %}


<div {{ bem(page_content__base_class, page_content__modifiers, main_blockname) }}>
  <div {{ bem('pre-content', [], page_content__base_class) }}>
    {% block page_content_pre_content %}{% endblock %}
  </div>

  {% if page_sidebar %}
    <div {{ bem('sidebar-pre-content', [], page_content__base_class) }} role='complementary'>
      {% block page_sidebar_pre_content %}{% endblock %}
    </div>
  {% endif %}

  <div {{ bem('content', [], page_content__base_class) }}>
    {% block page_content %}{% endblock %}
  </div>

  {% if page_sidebar %}
    <div {{ bem('sidebar-post-content', [], page_content__base_class) }} role='complementary'>
      {% block page_sidebar_post_content %}{% endblock %}
    </div>
  {% endif %}

  <div {{ bem('post-content', [], page_content__base_class) }}>
    {% block page_content_post_content %}{% endblock %}
  </div>
</div>
