{#
/**
 * Available variables:
 * - bootstrap_icon__base_class - base class name
 * - bootstrap_icon__modifiers - modifiers for icons (array)
 * - bootstrap_icon__blockname - blockname prepended to the base classname
 * - bootstrap_icon__extra_class - extra class names
 * - bootstrap_icon__name - the name of the icon
 * - bootstrap_icon__role - a11y role
 * - bootstrap_icon__title - a11y title
 * - bootstrap_icon__desc - a11y description
 * - bootstrap_icon__decorative - boolean, hides icon for screen readers if true
 */
#}
{% set bootstrap_icon__base_class = bootstrap_icon__base_class|default("bootstrap-icon") %}
{% set bootstrap_icon__modifiers = bootstrap_icon__modifiers|default([]) %}
{% set bootstrap_icon__role = bootstrap_icon__role|default("img") %}

{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}
{% set bootstrap_icon_url = directory ? "/" ~ directory ~ "/dist/" %}

<svg {{ bem(bootstrap_icon__base_class, bootstrap_icon__modifiers, bootstrap_icon__blockname, bootstrap_icon__extra_class) }}

  {% if bootstrap_icon__decorative %}
    aria-hidden="true"
  {% elseif bootstrap_icon__role %}
    role="{{ bootstrap_icon__role }}"
  {% endif %}

  {% if bootstrap_icon__title %}
    aria-labelledby="title-{{ bootstrap_icon__name }}"
  {% endif %}

  {% if bootstrap_icon__desc %}
    aria-describedby="desc-{{ bootstrap_icon__name }}"
  {% endif %}
>
  {% if bootstrap_icon__title %}
    <title id="title-{{ bootstrap_icon__name }}">{{ bootstrap_icon__title }}</title>
  {% endif %}

  {% if bootstrap_icon__desc %}
    <desc id="desc-{{ bootstrap_icon__name }}">{{ bootstrap_icon__desc }}</desc>
  {% endif %}

  <use xlink:href="sprites/bootstrap-icons.svg#{{ bootstrap_icon__name }}"></use>
</svg>
