{% set header__base_class = "header" %}

<header {{ bem(header__base_class) }}>
  {#
    Keyboard navigation/accessibility link to main content section in
    page.html.twig.
  #}
  <a href="#main-content" class="visually-hidden focusable">
    {{ "Skip to main content"|t }}
  </a>

  <div {{ bem("inner", [], header__base_class) }}>
    <div {{ bem("main", [], header__base_class) }}>
      <div {{ bem("item", ["branding"], header__base_class) }}>
        {% block header_branding %}
          {% include "@organisms/header/header-branding/header-branding.twig" %}
        {% endblock %}
      </div>

      <div {{ bem("item", ["menu"], header__base_class) }}>
        {% block header_overlay %}
          {% include "@organisms/header/header-overlay/header-overlay.twig" %}
        {% endblock %}
      </div>

      <div {{ bem("item", ["additional"], header__base_class, ["js-expand-content"]) }}>
        {% block header_language_menu %}
          {% include "@molecules/navigation/language-switcher/language-switcher.twig" %}
        {% endblock %}

        {% block header_search %}
          {% include "@molecules/search/search-keyword/search-keyword.twig" with {
            search_keyword__expand_button_open: "js-expand-button-open",
            search_keyword__expand_button_close: "js-expand-button-close",
          } %}
        {% endblock %}
      </div>
    </div>

    <div {{ bem("bottom", [], header__base_class) }}>
      {% block header_bottom %}
        {% include "@molecules/navigation/breadcrumbs/breadcrumbs.twig" %}
      {% endblock %}
    </div>
  </div>
</header>
