{#
/**
 * @file
 * Theme implementation to display site footer
 *
 * Blocks:
 * - footer_branding: The footer logo/branding content.
 *
 */
#}
{% set footer__base_class = "footer" %}

<footer {{ bem(footer__base_class) }}>
  <div {{ bem("inner", [], footer__base_class) }}>
    <div {{ bem("branding", [], footer__base_class) }}>
      {% block footer_branding %}
        {% include "@organisms/footer/footer-branding/footer-branding.twig" %}
      {% endblock %}
    </div>

    <div {{ bem("copyright", [], footer__base_class) }}>
      {{ "© Turku " ~ "Now"|date("Y") }}
    </div>
  </div>
</footer>
