{#
/**
* @file
* Theme implementation to display site hero content
*
* Variables:
* - content_summary__meta: Meta information, e.g. node type and publication date
* - content_summary__title: Title (h1) text.
* - content_summary__image: Background image URL.
* - content_summary__lead_text: Copy text to show on the hero.
*
* @ingroup themeable
*/
#}
{% set content_summary__base_class = "content-summary" %}
{% set content_summary__modifiers = content_summary__modifiers|default([]) %}

<div {{ bem(content_summary__base_class, content_summary__modifiers) }}>
  <div {{ bem("column", [], content_summary__base_class) }}  >
    {% include "@atoms/text/heading/heading.twig" with {
      heading__level: 4,
      heading__base_class: "title",
      heading__blockname: content_summary_base_class,
      heading: content_summary__title,
    } %}

    {% if content_summary__link_url %}
      <div {{ bem("link", [], content_summary__base_class) }} >
        {% include "@atoms/images/fontawesome-icon/fontawesome-icon.twig" with {
          fontawesome_icon__name: "arrow-right",
          fontawesome_icon__role: "presentation",
        } %}

        {% include "@atoms/links/link/link.twig" with {
          link__content: content_summary__link_text,
          link__url: content_summary__link_url,
        } %}
      </div>
    {% endif %}
    {% include "@atoms/links/link/link.twig" with {
      link__content: content_summary__open_text,
      link__url: content_summary__open_url,
      link__modifiers: ["minimal"],
      link__icon_before: content_summary__icon_before,
      link__icon_after:  content_summary__icon_after,
    } %}
  </div>

  <div {{ bem("column", [], content_summary__base_class) }} >
    {% include "@atoms/text/heading/heading.twig" with {
      heading__level: 5,
      heading__base_class: "heading",
      heading__blockname: content_summary_base_class,
      heading: content_summary__number_heading,
    } %}

    {% include "@atoms/text/text-long/text-long.twig" with {
      text_long__base_class: "text",
      text_long__content:  content_summary__number_lead_text,
      text_long__blockname: content_summary__base_class,
    } %}
  </div>

  <div {{ bem("column", [], content_summary__base_class) }}  >
    {% include "@atoms/text/heading/heading.twig" with {
      heading__level: 5,
      heading__base_class: "heading",
      heading__blockname: content_summary_base_class,
      heading: content_summary__heading,
    } %}

    {% include "@atoms/text/text-long/text-long.twig" with {
      text_long__base_class: "text",
      text_long__content:  content_summary__lead_text,
      text_long__blockname: content_summary__base_class,
    } %}
  </div>
</div>
