{# @todo Add missing comments about expected variables. #}

{% set accordion_item__base_class = accordion_item__base_class|default('accordion-item') %}
{% set accordion_item__modifiers = accordion_item__modifiers|default([]) %}

<details {{ bem(accordion_item__base_class, accordion_item__modifiers) }}>
  <summary {{ bem('heading', [], accordion_item__base_class) }}>
    {{ accordion__summary }}
    <span {{ bem('icon', [], accordion_item__base_class) }} aria-hidden="true"></span>
  </summary>

  <div {{ bem('content', [], accordion_item__base_class) }}>
    {{ accordion__content }}
  </div>
</details>
