{# @todo Add missing comments about expected variables. #}

{% set accordion_item__base_class = accordion_item__base_class|default('accordion-item') %}
{% set accordion_item__modifiers = accordion_item__modifiers|default([]) %}

 {% if accordion_item__modifiers == 'open' %}
   dada
 {% endif %}
<details {{ bem(accordion_item__base_class, accordion_item__modifiers) }}  aria-expanded='false'>
  <summary {{ bem('heading', [], accordion_item__base_class, accordion_item__modifiers) }}>
    {% if 'warning' in accordion_item__modifiers %}
      <div {{ bem('warning-accordion-heading', [], accordion_item__base_class) }}>
        {% include '@atoms/images/fontawesome-icon/fontawesome-icon.twig' with {
          fontawesome_icon__name: 'exclamation-triangle',
          fontawesome_icon__decorative: true,
          fontawesome_icon__title: 'Warning',
        } %}

        {% include "@atoms/text/heading/heading.twig" with {
          heading__level: 3,
          heading: accordion__summary,
        } %}
      </div>
    {% else %}
      {% include "@atoms/text/heading/heading.twig" with {
        heading__level: 3,
        heading: accordion__summary,
      } %}
    {% endif %}

    {% include '@atoms/images/fontawesome-icon/fontawesome-icon.twig' with {
      fontawesome_icon__name: 'angle-down',
      fontawesome_icon__decorative: true,
    } %}
  </summary>

  <div {{ bem('content', [], accordion_item__base_class) }}>
    {{ accordion__content }}

    {% embed '@atoms/lists/list-unordered.twig' with {
      list__base_class: 'link-list',
      list__modifiers: accordion_item__modifiers,
      list__blockname: accordion_item__base_class,
    } %}
      {% block list_content %}

        {% for item in list_links__items %}
          {% embed '@atoms/lists/list-item.twig' with {
            list_item__base_class: 'item',
            list_item__blockname: accordion_item__base_class,
          } %}
            {% block list_item_content %}
              {% set link_modifiers = accordion_item__link_modifiers|default([]) %}

              {% include '@atoms/images/icon/icon.twig' with {
                icon__name: 'arrow-right',
                icon__base_class: 'icon',
              } %}

              {% include '@atoms/links/link/link.twig' with {
                link__content: item.title,
                link__url: item.url,
                link__attributes: item.attributes,
                link__suffix: item.suffix,
              } %}

            {% endblock %}
          {% endembed %}
        {% endfor %}
      {% endblock %}
    {% endembed %}
  </div>
</details>
