{#
/**
 * Available variables:
 * - menu_main_item__base_class - the base classname
 * - menu_main_item__modifiers - array of modifiers to add to the base classname
 *
 * Available blocks:
 * - menu_main_item_content - renders a list of links by default
 */
#}

{% set menu_main_item__base_class = menu_main_item__base_class|default("item") %}
{% set menu_main_item__modifiers = menu_main_item__modifiers|default([]) %}
{% set is_drawer = menu__level == 1 %}

{% embed "@atoms/lists/list-item.twig" with {
  list_item__base_class: menu_main_item__base_class,
  list_item__modifiers: menu_main_item__modifiers,
  list_item__blockname: menu_main_item__blockname,
} %}
  {% block list_item_content %}
    <div {{ bem("link-wrapper", [], menu_main_item__blockname) }}>
      {% embed "@atoms/links/link/link.twig" with {
        link__url: item.url,
        link__base_class: "link",
        link__blockname: menu_main_item__blockname,
        link__attributes: {
          "data-menu-level": menu__level,
          "data-drupal-link-system-path": item.url.isRouted ? item.url.getInternalPath,
        },
        link__modifiers: item.in_active_trail ? ["is-active-trail"],
      } %}
        {% block link_content %}
          {% if menu_level == 0 and item.url.isRouted and item.url.getInternalPath == "" %}
            <span {{ bem("text", [], menu_main_item__blockname) }}>
              {{ item.title }}
            </span>
          {% else %}
            {{- item.title -}}
          {% endif %}
        {% endblock %}
      {% endembed %}

      {% if item.below %}
        <span {{ bem("button-separator", [], menu_main_item__blockname) }}></span>

        <button {{ bem("expand-submenu", [], menu_main_item__blockname) }} data-menu-level="{{ menu__level }}">
          {% include "@atoms/images/icon/icon.twig" with {
            icon__name: "chevron",
            icon__decorative: true
          } %}

          {% embed "@atoms/visually-hidden/visually-hidden.twig" %}
            {% block visually_hidden_content %}
              {{ "Show submenu"|t }}: {{ item.title }}
            {% endblock %}
          {% endembed %}
        </button>
      {% endif %}
    </div>

    {% if item.below or item.quick_link_items %}

      {% if is_drawer %}
      <div {{ bem("drawer", [], menu_main_item__blockname) }} aria-hidden="true">
      {% endif %}
        {% if menu__level == 1 %}
          <p {{ bem("parent-title", [], menu_main_item__blockname) }}>
            {{ item.title }}
          </p>
        {% endif %}

        {% import "@molecules/navigation/menu-main/menu-main.twig" as menu_main %}
        {{ menu_main.menus(item.below, menu__level + 1, item.title, attributes, directory) }}

        {% if item.quick_link_items %}
          <div {{ bem("quick-links", [], menu_main_item__blockname) }}>
            <p {{ bem("quick-links__title", [], menu_main_item__blockname) }}>
              {{ "Quick links"|t }}
            </p>

            {% embed "@atoms/lists/list-unordered.twig" with {
              list__base_class: "quick-links__items",
              list__blockname: menu_main_item__blockname,
              list__modifiers: [],
              list__attributes: {},
            } %}
              {% block list_content %}
                {% for item in item.quick_link_items %}
                  {% embed "@atoms/lists/list-item.twig" with {
                    list_item__base_class: "quick-links__item",
                    list_item__blockname: menu_main_item__blockname,
                  } %}
                    {% block list_item_content %}
                      {% include "@atoms/links/link/link.twig" with {
                        link__url: item.url,
                        link__content: item.title,
                        link__base_class: "quick-links__link",
                        link__blockname: menu_main_item__blockname,
                        link__attributes: {},
                      } %}
                    {% endblock %}
                  {% endembed %}
                {% endfor %}
              {% endblock %}
            {% endembed %}
          </div>
        {% endif %}

      {% if is_drawer %}
      </div>
      {% endif %}

    {% endif %}
  {% endblock %}
{% endembed %}
