{#
/**
 * Available variables:
 * - menu_main__base_class - the base classname
 * - menu_main__modifiers - array of modifiers to add to the base classname
 * - menu_main__blockname - blockname prepended to the base classname
 *
 * - menu_main__items - array of menu items
 * - menu_main__support_items - support menu items



 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{% macro menus(menu__items, menu__level, menu__parent_title, attributes, directory) %}
  {% set menu__base_class = "menu" %}
  {% set menu__modifiers = [] %}

  {% if menu__level == 1 %}
    {% set menu__modifiers = menu__modifiers|merge(["top"]) %}
  {% else %}
    {% set menu__modifiers = menu__modifiers|merge(["sub", "sub-" ~ menu__level]) %}
  {% endif %}

  {% if menu__items %}
    {% embed "@atoms/lists/list-unordered.twig" with {
      list__base_class: menu__base_class,
      list__modifiers: menu__modifiers,
      list__attributes: {
        "data-menu-level": menu__level,
      },
    } %}
      {% block list_content %}
        {% if menu__level == 2 %}
          {# Additional back button for mobile. #}
          <button {{ bem("collapse-submenu", ["mobile"], menu__base_class) }} data-menu-level="{{ menu__level }}">
            {% include "@atoms/images/icon/icon.twig" with {
              icon__name: "chevron",
            } %}
            {{ "Back"|t }}
          </button>

          <p {{ bem("parent-title", ["mobile"], menu__base_class) }}>
            {{ menu__parent_title }}
          </p>
        {% endif %}

        {% if menu__level > 2 %}
          <button {{ bem("collapse-submenu", [], menu__base_class) }} data-menu-level="{{ menu__level }}">
            {% include "@atoms/images/icon/icon.twig" with {
              icon__name: "chevron",
            } %}
            {{ menu__parent_title }}
          </button>
        {% endif %}

        {% for item in menu__items %}
          {% if not item.is_quicklink %}
            {% include "@molecules/navigation/menu-main/menu-main-item.twig" with {
              menu_main_item__blockname: menu__base_class,
            } %}
          {% endif %}
        {% endfor %}
      {% endblock %}
    {% endembed %}

  {% endif %}
{% endmacro %}


{% import _self as menu_main %}

{% set menu_main__base_class = menu_main__base_class|default("menu-main") %}
{% set menu_main__modifiers = menu_main__modifiers|default([]) %}

<div {{ bem(menu_main__base_class, menu_main__modifiers) }} aria-label="{{ "Main menu"|t }}" aria-hidden="true">
  {{ menu_main.menus(menu_main__items, 1, "", attributes, directory) }}

  {# Spacer element#}
  <div {{ bem("spacer", [], menu_main__base_class) }} aria-hidden="true"></div>
</div>
