{#
/**
 * Available variables:
 * - link__content - the content of the link (typically text)
 * - link__a11y_prefix - prefix text for screen readers
 * - link__url - the url this link should poing to
 * - link__attributes - array of attribute,value pairs
 * - link__base_class - the base class name
 * - link__extra_classes - extra class names
 * - link__label - a11y label
 * - link__modifiers - array of modifiers to add to the base classname
 * - link__blockname - blockname prepended to the base classname
 * - link__icon_before - the name of the icon that will appear before the link text
 * - link__icon_after - the name of the icon that will appear after the link text
 * - link__title - a11y title
 *
 * Available blocks:
 * - link_content - used to replace the content of the link
 *     Example: to insert the image component
 */
#}
{% set link__base_class = link__base_class|default('link') %}
{% set link__modifiers = link__modifiers|default([]) %}
{% set link__attributes = link__attributes|default([]) %}
{% set link__icon_before_modifiers = link__icon_before_modifiers|default(['before']) %}
{% set link__icon_after_modifiers = link__icon_after_modifiers|default(['after']) %}
{% set link_with_arrow = 'action' in link__modifiers or 'quick' in link__modifiers or 'inverse' in link__modifiers %}
{% set back_to_top_link = 'back-to-top' in link__modifiers %}
{% set presentation_link = not link__url %}
{% set external_link = 'external' in link__modifiers %}
{% set phone_link = 'phone' in link__modifiers %}

{% if link_with_arrow  and not external_link %}
  {% set link__icon_after = 'arrow-right' %}
  {% set link__icon_after_decorative = true %}
{% endif %}

{% if back_to_top_link %}
  {% set link__icon_after = 'arrow-up' %}
  {% set link__icon_after_decorative = true %}
{% endif %}

{% if external_link %}
  {% set external_attributes = {
    rel: 'noopener',
    target: '_blank',
  } %}
  {% set link__attributes = link__attributes|merge(external_attributes) %}
{% endif %}

{% if presentation_link %}
  {% set presentation_attributes = {
    role: 'presentation',
    tabindex: '0',
  } %}
  {% set link__attributes = link__attributes|merge(presentation_attributes) %}
{% endif %}

{% if link__icon_before or link__icon_after %}
  {% set link__modifiers = link__modifiers|merge(['with-icon']) %}
{% endif %}

<a
  {{ bem(link__base_class, link__modifiers, link__blockname, link__extra_classes) }}
  {% for attribute, value in link__attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}

  {% if link__url %}
    href="{{ link__url }}"
  {% endif %}

  {% if link__label %}
    aria-labelledby="{{ link__label }}"
  {% endif %}

  {% if link__describedby %}
   aria-describedby="{{ link__describedby }}"
  {% endif %}
>
  {%- if link__icon_before %}
    {% include '@atoms/images/fontawesome-icon/fontawesome-icon.twig' with {
      fontawesome_icon__name: link__icon_before,
      fontawesome_icon__modifiers: link__icon_before_modifiers,
      fontawesome_icon__decorative: true,
    } %}
  {% endif -%}

  {%- block link_content %}
    {%- if link__a11y_prefix %}
      <span class="visually-hidden"> {{ link__a11y_prefix }} </span>
    {% endif -%}
    {{- link__content|spaceless -}}
  {% endblock -%}

 {%- if link__title  %}
   <span class="visually-hidden"> {{ link__content }} {{ link__title }} </span>
 {% endif -%}

  {%- if link__icon_after %}
    {% include '@atoms/images/fontawesome-icon/fontawesome-icon.twig' with {
      fontawesome_icon__name: link__icon_after,
      fontawesome_icon__modifiers: link__icon_after_modifiers,
      fontawesome_icon__decorative: true,
    } %}
  {% endif -%}

  {%- if link__info %}
    {% include '@atoms/visually-hidden/visually-hidden.twig' with {
        visually_hidden__content: link__info|trim,
      } %}
  {% endif -%}

  {%- if link__suffix %}
    <span {{ bem('suffix', [], link__base_class) }}>
      {{ link__suffix }}
    </span>
  {% endif -%}
</a>
