{#
/**
 * @file
 * Theme implementation to display site header
 *
 * Blocks:
 * - header_branding: Site logo.
 * - header_language_menu: The language switcher.
 * - header_bottom: Content for the breadrumbc etc.
 *
 */
#}
{% set header__base_class = "header" %}

{% if warning_message %}
  {% embed "@molecules/status/status.twig" with {
    message_list: {
      'warning': [
        warning_message,
      ]
    },
    container_classes: ['status-container--pre-header']
  } %}
  {% endembed %}
{% endif %}

<header {{ bem(header__base_class) }}>
  {#
    Keyboard navigation/accessibility link to main content section in
    page.html.twig.
  #}
  <a href="#main-content" class="visually-hidden focusable">
    {{ "Skip to main content"|t }}
  </a>

  <div {{ bem("main", [], header__base_class) }}>
    <div {{ bem("item", ["branding"], header__base_class) }}>
      {% block header_branding %}
        {% include "@organisms/header/header-branding/header-branding.twig" %}
      {% endblock %}
    </div>

    <div {{ bem("item", ["language-switcher"], header__base_class) }}>
      {% block header_language_menu %}
        {% include "@molecules/navigation/language-switcher/language-switcher.twig" %}
      {% endblock %}
    </div>
  </div>

  <div {{ bem("bottom", [], header__base_class) }}>
    {% block header_bottom %}
      {% include "@molecules/navigation/breadcrumbs/breadcrumbs.twig" %}
    {% endblock %}
  </div>
</header>
